{% extends "layout/base.html" %}

{% block content %}

<h2>Prüfplan erstellen</h2>

<div class="form-container">

<form method="POST">

<div class="form-group">

<label>Artikel auswählen</label>
<select name="article_id" required>
    <option value="">-- Artikel wählen --</option>
    {% for article in articles %}
        <option value="{{ article.id }}">
            {{ article.article_no }} - {{ article.article_name }}
        </option>
    {% endfor %}
</select>

</div>

<div class="form-actions">

<button class="btn-primary">
Prüfplan erstellen
</button>

<a href="{{ url_for('inspection.dashboard') }}"
class="btn-secondary">
Abbrechen
</a>

</div>

</form>

</div>

{% endblock %}
