<div class="form-group">
    <label>Werkzeugname</label>
    <input type="text" name="name">
</div>

<div class="form-group full">
    <label>Beschreibung</label>
    <textarea name="description"></textarea>
</div>

<div class="form-group">
    <label>Schussgewicht (g)</label>
    <input type="number" step="0.01" name="shot_weight_g">
</div>

<div class="form-group">
    <label>Zykluszeit (s)</label>
    <input type="number" step="0.01" name="cycle_time_s">
</div>

<div class="form-group">
    <label>Kavitäten</label>
    <input type="number" name="cavities">
</div>

<div class="form-group">
    <label>Verpackungseinheit</label>
    <input type="number" name="pack_unit">
</div>