{% extends "layout/base.html" %}

{% block content %}

<h2>Werkzeugliste</h2>

{% set columns = [
"Werkzeugnr",
"Artikelnummer",
"Artikelname",
"Standort",
"Status",
"Aktionen"
] %}

{% set rows = [] %}

{% for tool in tools %}

{% set row = [

'<a href="' ~ url_for("tools.detail",tool_id=tool.id) ~ '">' ~ tool.tool_no ~ '</a>',

tool.article_no,
tool.article_name,
tool.location,

'<span class="status-badge status-' ~ tool.tool_status ~ '">' ~ tool.tool_status ~ '</span>',

'<div class="table-actions">
<a class="btn-small btn-edit" href="' ~ url_for("orders.edit", order_id=order.id) ~ '">Bearbeiten</a>
<a class="btn-small btn-delete" href="' ~ url_for("orders.delete", order_id=order.id) ~ '">Löschen</a>
</div>'

] %}

{% set _ = rows.append(row) %}

{% endfor %}

{% include "components/table.html" with context %}

{% endblock %}
