{% extends "layout/base.html" %}

{% block content %}

<p style="color:#666;margin-bottom:20px">
Artikel-ID: <strong>{{ article.id }}</strong>
</p>

<h2 style="margin-bottom:25px">Artikel bearbeiten</h2>

<div class="form-card">

<form method="POST">

    {% include "masterdata/articles/_form.html" %}

    <div class="form-actions">
        <button class="btn-primary">
            Änderungen speichern
        </button>

        <a href="{{ url_for('articles.list') }}" class="btn-secondary">
            Abbrechen
        </a>
    </div>

</form>

</div>

{% endblock %}
